.buttonlink { color: inherit; } 
  a { text-decoration: none; }
  
  input.ng-invalid.ng-touched {
  	border: 2px solid red;
  }

  .error {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
  }